<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div style="margin: 0 auto;width:500px; ">
    <h2>Ovaas2</h2>
    <div>
        <a href="{% url 'ovaas:login' %}">login</a>
    </div>
    <div>
        <form action="{% url 'ovaas:register' %}" method="post" id="formRegister">
            {% csrf_token %}
            <div>
                <input type="text" class="form-control" name="username" id="username"
                       placeholder="username">
            </div>
            <div>
                <input type="password" class="form-control" name="pwd" id="pwd"
                       placeholder="password">
            </div>
            <div>
                <input type="password" class="form-control" name="cpwd" id="cpwd"
                       placeholder="password">
            </div>
            <div>
                <input type="email" class="form-control" name="email" id="email" value="{{ email }}"
                       placeholder="email">
            </div>
            <button type="submit" id="register" class="btn btn-primary">signup</button>
        </form>

    </div>
</div>
</body>
</html>